@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 76, 29, 149;
  --background-end-rgb: 91, 33, 182;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    135deg,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@font-face {
  font-family: "Impact";
  src: local("Impact");
}

/* From Uiverse.io by SelfMadeSystem */
.stile {
  position: absolute;
  inset: 0;
  background: #000;
}

.stile::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcz48ZmlsdGVyIGlkPSJhIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMTkuNSIgbnVtT2N0YXZlcz0iMTAiIHJlc3VsdD0idHVyYnVsZW5jZSIvPjxmZUNvbXBvc2l0ZSBvcGVyYXRvcj0iaW4iIGluPSJ0dXJidWxlbmNlIiBpbjI9IlNvdXJjZUFscGhhIiByZXN1bHQ9ImNvbXBvc2l0ZSIvPjxmZUNvbG9yTWF0cml4IGluPSJjb21wb3NpdGUiIHR5cGU9Imx1bWluYW5jZVRvQWxwaGEiLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJjb21wb3NpdGUiIG1vZGU9ImNvbG9yLWJ1cm4iLz48L2ZpbHRlcj48L2RlZnM+PGcgZmlsdGVyPSJ1cmwoJyNhJykiPjxwYXRoIGZpbGw9IiMyNmIiIGQ9Ik0wIDBoMTAwdjEwMEgweiIvPjxwYXRoIGQ9Ik0wIDB2MTAwaDEwMFYwWiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiM0OGYiIGZpbGw9IiMwMDAwIi8+PHBhdGggZmlsbD0iIzQ4ZjUiIGQ9Ik01MCAwaDF2MTAwaC0xeiIvPjxwYXRoIGZpbGw9IiM0OGY1IiBkPSJNMCA1MGgxMDB2MUgweiIvPjwvZz48L3N2Zz4=");
  mask: linear-gradient(#0004, #000);
}
/* From Uiverse.io by vinodjangid07 */
.Btn {
  width: 220px;
  height: 45px;
  background-color: rgb(65, 64, 64);
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
}

.text {
  color: rgb(184, 236, 104);
  font-weight: 800;
  letter-spacing: 1.1px;
  z-index: 2;
}

.svgIcon {
  z-index: 2;
}

.svgIcon path {
  fill: rgb(184, 236, 104);
}

.Btn:hover {
  color: rgb(230, 255, 193);
}
.color {
  color: rgb(184, 236, 104);
}
.effect {
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: rgb(184, 236, 104);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition-duration: 0.5s;
}

.Btn:hover .effect {
  transform: scale(15);
  transform-origin: center;
  opacity: 1;
  transition-duration: 0.5s;
}

.Btn:hover {
  box-shadow:
    0px 0px 5px rgb(184, 236, 104),
    0px 0px 10px rgb(184, 236, 104),
    0px 0px 30px rgb(184, 236, 104);
  transition-duration: 0.7s;
}

.Btn:hover .text {
  color: rgb(65, 64, 64);
}

.Btn:hover .svgIcon path {
  fill: rgb(65, 64, 64);
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 125s linear infinite;
}
